<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-fixed">
    <div class="container-fluid">
        <a class="navbar-brand" href="/GauchoRocket/">
            <h4 class="d-flex justify-content-center align-items-center">
                <i class="fab fa-grav me-2"></i>
                Gaucho Rocket S.A
            </h4>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse  align-items-center" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/GauchoRocket/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#alojamiento">Alojamientos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#viajes">Viajes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

