<!-- Navbar con sesión -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-fixed">
    <div class="container-fluid">
        <a class="navbar-brand" href="/GauchoRocket/home"> <h4 class="d-flex justify-content-center align-items-center"><i class="fab fa-grav me-2"></i> Gaucho Rocket S.A</h4></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse  align-items-center" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/GauchoRocket/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#alojamiento">Alojamientos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#viajes">Viajes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="turno/centroMedico" target='_blank'>
                       <button type="button" class="btn btn-light ms-5">
                       REALIZAR CHEQUEO MEDICO
                       </button>
                    </a>
                </li>
            </ul>

        </div>
        <div>
            <div class="text-light usuario d-flex align-items-center justify-content-end">
                <h5>Hola {{_SESSION.nombre}}</h5>
            </div>
        </div>

        <div>
            <div class="text-light usuario d-flex align-items-center justify-content-end">
                <i class="fas fa-user me-3"></i>
<!--                <a href="/cerrar-sesion.php"><i class="fas fa-sign-out-alt text-light"></i></a>-->
                <a href="/GauchoRocket/logout"><i class="fas fa-sign-out-alt text-light"></i></a>
            </div>
        </div>
    </div>
</nav>