<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-fixed w-100" style="z-index:1100000000000000">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> <h4 class="d-flex justify-content-center align-items-center"><i class="fab fa-grav me-2"></i> Gaucho Rocket S.A</h4></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse  align-items-center" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{#esClient}}
                    <li class="nav-item active">
                        <a class="nav-link" href="/GauchoRocket/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GauchoRocket/alojamiento">Alojamientos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GauchoRocket/viaje">Viajes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GauchoRocket/turno/miTurno">Turno</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GauchoRocket/reserva/reservaCompleta">Reserva</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                {{/esClient}}

                {{#esAdmin}}
                    <li class="nav-item active">
                        <a class="nav-link" href="/GauchoRocket/home">Home</a>
                    </li>
<!--                    <li class="nav-item ">-->
<!--                        <a class="nav-link" href="#facturacion">Facturación</a>-->
<!--                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="/GauchoRocket/reportes">Reportes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GauchoRocket/cargarAlojamientos/">Alojamientos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GauchoRocket/cargarViajes/">Viajes</a>
                    </li>

                {{/esAdmin}}
            </ul>
        </div>

        {{#nombre}}
            <div>
                <div class="text-light usuario d-flex align-items-center justify-content-end">
                    <h5>Hola {{nombre}}</h5>
                </div>
            </div>

            <div>
                <div class="text-light usuario d-flex align-items-center justify-content-end">
                    <i class="fas fa-user ms-2 me-3 d-flex justify-content-center align-items-center h5"></i>
                    <a href="/GauchoRocket/logout"><i class="fas fa-sign-out-alt text-light"></i></a>
                </div>
            </div>
        {{/nombre}}
    </div>
</nav>