{{> header}}
{{> navbar}}

<section class="container-fluid w-100 d-flex justify-content-center align-items-center" style="padding-top: 75px; ">
    <article class="d-flex justify-content-center d-flex flex-column">
        <h1 class='mt-5 text-center'>ALOJAMIENTOS</h1>
        {{#mensaje}}
            <div class="alert alert-success text-center container mt-4" role="alert">
                <h4 class="d-flex justify-content-center">
                    <i class="far fa-frown me-3"></i>
                    <p class=" w3-center mt-2">{{mensaje}}</p>
                </h4>
            </div>
        {{/mensaje}}
        {{^mensaje}}
            <div class="d-flex justify-content-center d-flex flex-row mt-0 pt-3 botones">
                <div class="row justify-content-center align-items-center" >
                    <div class="col-auto bg-light p-5 mb-5 rounded-3 shadow-lg">

                        <table class="table text-center" style="width: 877px">
                            <thead>
                            <tr>
                                <th scope="col">DESTINO</th>
                                <th scope="col">CANTIDAD DE HABITACIONES</th>
                                <th scope="col">PRECIO</th>
                                <th scope="col">ALOJAMIENTO</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>

                            <tbody>

                            {{#alojamientoElegido}}
                                <form action="/GauchoRocket/cargar/borrar" method="post">
                                    <tr>
                                        <input type='hidden' value='{{id_alojamiento}}' name="idAlojamiento">
                                        <td >{{descripcion}}</td>
                                        <td >{{cant_habitaciones}}</td>
                                        <td >${{precio}}</td>
                                        <td >{{nombreAlojamiento}}</td>
                                        <td>
                                            <button type="submit" class="btn btn-danger" >
                                                <i class="fas fa-trash-alt"></i>
                                            </button>

                                        </td>

                                    </tr>
                                </form>
                            {{/alojamientoElegido}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        {{/mensaje}}

    </article>
</section>



<section class = "container-fluid w-100 d-flex justify-content-center align-items-center" style="padding-top: 75px; padding-bottom: 339px">
    <article class = "d-flex justify-content-center d-flex flex-column">

        <div class="container mt-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-auto bg-light p-5" style="width: 617px;">

                    <form action="/GauchoRocket/cargar" method="POST">

                        <h2 class = 'text-center pb-4'>CARGAR ALOJAMIENTOS</h2>

                        <div class="input-group justify-content-between">

                            <div class="w-50 p-2">
                                <label class="form-label">Cantidad de Habitaciones</label>
                                <select name="cant_habitaciones" class="form-select">
                                    <option>Fuego</option>
                                    <option>Agua</option>
                                    <option>Bicho</option>
                                    <option>Electrico</option>
                                    <option>Planta</option>
                                    <option>Veneno</option>
                                    <option>Volador</option>

                                </select>
                            </div>

                            <div class="w-50 p-2">
                                <label class="form-label">Destino</label>
                                <select name="destino" class="form-select">
                                    <option></option>
                                    <option>Fuego</option>
                                    <option>Agua</option>
                                    <option>Bicho</option>
                                    <option>Electrico</option>
                                    <option>Planta</option>
                                    <option>Veneno</option>
                                    <option>Volador</option>
                                </select>
                            </div>

                        </div>
                        <!--    ----------------------------------------------------------------------------------  -->

                        <div class="input-group justify-content-between">

                            <div class="w-50 p-2">
                                <label class="form-label">Alojamiento</label>
                                <select name="nom_alojamiento" class="form-select">
                                    <option>Fuego</option>
                                    <option>Agua</option>
                                    <option>Bicho</option>
                                    <option>Electrico</option>
                                    <option>Planta</option>
                                    <option>Veneno</option>
                                    <option>Volador</option>

                                </select>
                            </div>

                            <div class="w-50 p-2">
                                <label class="form-label">Precio</label>
                                <input class="form-control" type="text" id="precio" name="precio" placeholder="$000">
                            </div>

                        </div>
                        <!--    ----------------------------------------------------------------------------------  -->


                        <br>
                        <div class="row">
                            <div class="col-sm-6" >
                                <a class="btn btn-danger w-100" href="index.php" role="button">Cancelar</a>
                            </div>

                            <div class="col-sm-6" >
                                <input type="submit" name="subir" class="btn btn-primary w-100" value="Subir">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </article>
</section>













{{> footer}}