{{> header}}
{{> navbar}}

<h1 class='text-center'>Turnos</h1>

<form class='container d-flex flex-column pb-5 pt-5' action='/GauchoRocket/turno' method='post' style=" z-index:0">

	<h4 class='text-center mb-4'>Centro medico:</h4>

		<!---{{#centrosMedico}}

			<div class="card container" style="width:18rem;">
	            <img src="../public/images/centro-medico/{{foto}}" class="card-img-top  d-flex flex-column" alt="{{nom_centro_medico}}" style="width:18rem;">
			    <div class="card-body">
			        <div class="form-check">
				        <input class="" type="radio" name="centro-medico" id="{{id_centro_medico}}" value="{{nom_centro_medico}}">
				        <label class="" for="{{id_centro_medico}}">
				            {{nom_centro_medico}}
				        </label>
				    </div>
			    </div>

		{{/centrosMedico}}--->


		<div class="d-flex flex-row container"> 

		<div class="card me-3" style="width: 18rem; z-index:0">
            <img src="public/images/centro-medico/BuenosAires.jpg" class="card-img-top" alt="BuenosAires">
		    <div class="card-body">
		        <div class="form-check d-flex align-items-center">
			        <input class="" type="radio" name="centro-medico" id="1" value="Buenos Aires">
			        <label class="ps-2" for="1">
			            Buenos Aires
			        </label>
			    </div>
		    </div>
		</div>


		<div class="card me-3" style="width: 18rem;  z-index:0">
		    <img src="public/images/centro-medico/Shanghai.jpg" class="card-img-top" alt="Shanghai">
		    <div class="card-body">
		        <div class="form-check d-flex align-items-center">
			        <input class="" type="radio" name="centro-medico" id="2" value="Shanghai">
			        <label class="ps-2" for="2">
			            Shanghái
			        </label>
			    </div>
		    </div>
		</div>

		<div class="card me-3" style="width: 18rem;  z-index:0">
		    <img src="public/images/centro-medico/Ankara.jpg" class="card-img-top" alt="Ankara">
		    <div class="card-body">
		        <div class="form-check d-flex align-items-center">
			        <input class="" type="radio" name="centro-medico" id="3" value="Ankara">
			        <label class="ps-2" for="3">
			            Ankara
			        </label>
			    </div>
		    </div>
        </div>
	</div>	

	<div class='container'>
	<button type="submit" class="btn btn-secondary mt-4 ">Siguiente</button>
	</div>

</form>

{{> footer}}

