{{> header}}
{{> navbarConSesion}}

<section class="container-fluid w-100 d-flex justify-content-center align-items-center home">
    <article class="d-flex justify-content-center d-flex flex-column">
        <h1 class="m-auto text-light mb-3" style="">Mundo Turismo Espacial</h1>
        <h5 class="m-auto text-light mb-3">Viaja con nosotros y vivi una gran experiencia</h5>
        <div class="d-flex justify-content-center d-flex flex-row mt-4 botones">
            <a href="#alojamiento" class="btn registrate" style="background: #555973;color: #fff">COMENZAR BUSQUEDA DESTINO</a>
        </div>
    </article>
</section>

<section class="container-fluid w-100 d-flex justify-content-center align-items-center alojamiento" >
    <article class="d-flex justify-content-center d-flex flex-column pb-5" >
        <h3 class="m-auto text-dark mt-4 mb-3 " id="alojamiento">Alojamiento</h3>
        <div class="d-flex justify-content-center d-flex flex-column mt-4 botones">
            <form class="row g-3 p-3 rounded-3 mb-4 d-flex justify-content-center" style="background: #C5CCD9">
                <div class="col-auto d-flex flex-row align-items-center">
                    <i class="fas fa-map-marker-alt me-3" style="font-size: 30px"></i>
                    <input type="text" class="form-control bg bg-light rounded text-center" id="staticEmail2" placeholder="Destino" style="outline: 0">
                </div>
                <div class="col-auto d-flex flex-row align-items-center">
                    <i class="fas fa-bed me-3"  style="font-size: 30px"></i>
                    <input type="text" class="form-control text-center"  placeholder="Cant habitaciones">
                </div>
                <div class="col-auto d-flex flex-row align-items-center">
                    <button type="submit" class="btn buscar-a" style="background: #555973;color: #fff">BUSCAR</button>
                </div>
            </form>

            <div class="d-flex flex-row">
                <div class="card me-2" style="width: 18rem;">
                    <img src="public/images/alojamientos/alojamiento1.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Alojamiento #1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="btn text-light">VER MAS</a>
                    </div>
                </div>

                <div class="card me-2" style="width: 18rem;">
                    <img src="public/images/alojamientos/alojamiento2.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Alojamiento #2</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="btn text-light">VER MAS</a>
                    </div>
                </div>

                <div class="card me-2" style="width: 18rem;">
                    <img src="public/images/alojamientos/alojamiento3.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Alojamiento #3</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="btn text-light">VER MAS</a>
                    </div>
                </div>

                <div class="card me-2" style="width: 18rem;">
                    <img src="public/images/alojamientos/alojamiento4.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Alojamiento #4</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="btn text-light">VER MAS</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>

<section class="container-fluid w-100 d-flex justify-content-center align-items-center viaje">

    <article class="d-flex justify-content-center d-flex flex-column pb-5">
        <h3 class="m-auto text-dark mt-4 mb-3" id="viajes">Viajes</h3>
        <div class="d-flex justify-content-center d-flex flex-column mt-4 botones">
            <form class="row g-3 p-3 rounded-3 mb-4 d-flex justify-content-center" style="background: #C5CCD9">
                <div class="col-auto d-flex flex-row align-items-center">
                    <i class="fas fa-street-view me-3" style="font-size: 30px"></i>
                    <input type="text" class="form-control bg bg-light rounded text-center" id="staticEmail2" placeholder="Origen" style="outline: 0">
                </div>
                <div class="col-auto d-flex flex-row align-items-center">
                    <i class="fas fa-map-marker-alt me-3" style="font-size: 30px"></i>
                    <input type="text" class="form-control text-center"  placeholder="Destino">
                </div>
                <div class="col-auto d-flex flex-row align-items-center">
                    <i class="fas fa-map-marked-alt me-3" style="font-size: 30px"></i>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Tipo de Viaje</option>
                        <option value="1">Suborbital</option>
                        <option value="2">Orbital</option>
                    </select>
                </div>
                <div class="col-auto d-flex flex-row align-items-center">
                    <i class="fas fa-calendar-alt me-3" style="font-size: 30px"></i>
                    <input type="date" class="form-control text-center">
                </div>
                <div class="col-auto d-flex flex-row align-items-center">
                    <button type="submit" class="btn buscar-a" style="background: #555973;color: #fff">BUSCAR</button>
                </div>
            </form>

            <div class="d-flex flex-row">
                <div class="card me-2" style="width: 18rem;">
                    <img src="public/images/viajes/viaje1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Viaje #1</h5>
                        <p class="card-text">
                            <span class="badge bg-secondary">Fecha: 4/11/22</span>
                            <br>
                            <span class="badge bg-secondary">Horario: 10:00 AM</span>
                            <br>
                            <strong>Precio:</strong><span class="badge bg-secondary">$20.000</span></p>
                        <a href="/GauchoRocket/reserva" class="btn text-light">RESERVAR</a>
                    </div>
                </div>

                <div class="card me-2" style="width: 18rem;">
                    <img src="public/images/viajes/viaje2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Viaje #2</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="btn text-light">VER MAS</a>
                    </div>
                </div>

                <div class="card me-2" style="width: 18rem;">
                    <img src="public/images/viajes/viaje3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Viaje #3</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="btn text-light">VER MAS</a>
                    </div>
                </div>

                <div class="card me-2" style="width: 18rem;">
                    <img src="public/images/viajes/viaje4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Viaje #4</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="btn text-light">VER MAS</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>

{{> footer}}