{{> header}}
{{>navbar}}

<div  class="pt-5 pb-5"></div>

{{#reservaRegistrada}}
<div class="alert alert-success text-center container" role="alert">
    <h4>
    <i class='fas fa-check-circle me-2 text-center'></i>
    Reserva registrada con éxito!
</h4>
</div>


    <div class="pt-5 pb-5 mb-5 d-flex justify-content-center">
        <a href="/GauchoRocket/reserva/reservaCompleta" class="btn" target="_blank" style="background: #555973;color: #fff">
            REALIZAR PAGO  
        </a>
    </div>
    
</div>

{{/reservaRegistrada}}

{{^reservaRegistrada}}

    <div class="alert alert-danger text-center container" role="alert">
        <h4>
        <i class='fas fa-times-circle me-2 text-center'></i>
        Error intente mas tarde!
    </h4>
    </div>

{{/reservaRegistrada}}

{{> footer}}