{{> header}}
{{> navbar}}

<div class="mt-0 pb-5"></div>
<div class="mt-0 pb-5"></div>

<div class='mt-0 pb-5'>
    <div class="formularioReserva container">
        <form action="/GauchoRocket/reservas/generarReserva" method="post">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Servicio</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">{{nombre}}</th>
                    <td>{{apellido}}</td>

                    <td><select class="form-select" aria-label="Default select example" name="servicio">
                        <option selected disabled> Seleccione</option>
                        {{#servicios}}
                        <option value="{{id_tipo_servicio}}">{{descripcion_tipo}}</option>
                        {{/servicios}}
                    </select>
                    </td>
                </tr>
                </tbody>
            </table>

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Vuelo</th>
                    <th scope="col">Cabina</th>
                </tr>
                </thead>
                <tbody>
                <td>
                        {{#tipoVuelo}}
                        <p>{{resultado}}</p>
                        <input type="hidden" value="{{resultado}}" name="tipoVuelo">
                        {{/tipoVuelo}}
              
                </td>
                <td><select class="form-select" aria-label="Default select example" name="cabina">
                    <option selected disabled>Seleccione cabina</option>
                    {{#cabinas}}
                        <option value="{{id_cabina}}" >{{tipo}}</option>
                    {{/cabinas}}
                </select>
                </td>

                </tbody>
            </table>

           <div class="butacas">
               <table class="table caption-top">
                    <caption>SELECCIONE SU ASIENTO</caption>
                    <br>
                    <span class="badge bg-success">Disponible</span>
                    <span class="badge bg-danger">Ocupado</span>
                   <thead>

                   <tr>
                       <th scope="col">A</th>
                       <th scope="col"><input type="radio" id="a1" name="asiento"> A1
                       <label for="a1"></label>
                       </th>

                       <th scope="col"><input type="radio" id="a2" name="asiento"> A2
                       <label for="a2"></label></th>
                       <th scope="col"><input type="radio" id="a3" name="asiento"> A3
                       <label for="a3"></label></th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr>
                       <th scope="row">B</th>
                       <th scope="col"><input type="radio" id="b1" name="asiento"> B1
                           <label for="b1"></label>
                       </th>
                       <th scope="col"><input type="radio" id="b2" name="asiento"> B2
                           <label for="b2"></label>
                       </th>
                       <th scope="col"><input type="radio" id="b3" name="asiento"> B3
                           <label for="b3"></label>
                       </th>
                   </tr>
                   <tr>
                       <th scope="row">C</th>
                       <th scope="col"><input type="radio" id="c1" name="asiento"> C1
                           <label for="c1"></label>
                       </th>
                       <th scope="col"><input type="radio" id="c1" name="asiento"> C2
                           <label for="c2"></label>
                       </th>
                       <th scope="col"><input type="radio" id="a1" name="asiento"> C3
                           <label for="c3"></label>
                       </th>
                   </tr>
                   <tr>
                       <th scope="row">D</th>
                       <th scope="col"><input type="radio" id="d1" name="asiento"> D1
                           <label for="d1"></label>
                       </th>
                       <th scope="col"><input type="radio" id="d2" name="asiento"> D2
                           <label for="d2"></label>
                       </th>
                       <th scope="col"><input type="radio" id="d3" name="asiento"> D3
                           <label for="d3"></label>
                       </th>
                   </tr>
                   </tbody>
               </table>
           </div>



            <div class="botones d-flex justify-content-evenly pb-3">
                <button type="submit" class="btn btn-primary btn-lg">RESERVAR</button>
                <button type="submit" class="btn btn-secondary btn-lg">Cancelar</button>
            </div>


        </form>

    </div>
</div>

{{>footer}}