{{> header}}
{{> navbar}}

<div class="mt-0 pb-5"></div>
<div class="mt-0 pb-5"></div>

<div class='mt-0 pb-5'>
    <div class="formularioReserva container">
        <form action="/GauchoRocket/reserva/generarReserva" method="post" name="formulario" id="formulario">
          <div class="d-flex flex-row">

            <div class="me-5">
              <h3>{{destino}}</h3>
              <img src="../public/images/viajes/{{foto}}"  style="width: 20rem;">
              
            </div>

            <div class="mt-5">
              <span><i class="fas fa-calendar-alt" style="font-size: 20px" title="Fecha"></i> </span><span class="badge bg-secondary d-flex justify-content-between"> {{fecha}}</span>
              <br>
              <span><i class="fas fa-clock" style="font-size: 20px" title="Horario"></i>  </span><span class="badge bg-secondary d-flex justify-content-between"> {{horario}}</span>
              <br>
              <input type="hidden" name="horario" value=" {{horario}}">
              <span><i class="fas fa-dollar-sign" style="font-size: 20px" title="Precio"></i>  </span><span class="badge bg-secondary d-flex justify-content-between"> ${{precio}}</span>
              <br>
              <span><i class="fas fa-stopwatch" style="font-size: 20px" title="Duracion"></i>  </span><span class="badge bg-secondary d-flex justify-content-between"> {{duracion}} horas</span>
            </div>
            <input type="hidden" name="vuelo" value="{{vuelo}}">
            <div class="mt-5 ms-5" style="width:50rem">



            </div>

          </div>

            
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Servicio</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">{{nombre}}</th>
                    <td><strong>{{apellido}}</strong></td>

                    <td><select class="form-select" aria-label="Default select example" name="servicio">
                        <option selected disabled> Seleccione</option>
                        {{#servicios}}
                        <option value="{{id_tipo_servicio}}">{{descripcion_tipo}}</option>
                        {{/servicios}}
                    </select>
                    </td>
                </tr>
                </tbody>
            </table>

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Vuelo</th>
                    <th scope="col">Cabina</th>
                </tr>
                </thead>
                <tbody>
                <td>
                        {{#tipoVuelo}}
                        <p>Tipo {{resultadoNivelVuelo}}</p>
                        <input type="hidden" value="{{resultado}}" name="tipoVuelo">
                        {{/tipoVuelo}}
              
                </td>
                <td><select class="form-select" aria-label="Default select example" name="cabina">
                    <option selected disabled>Seleccione cabina</option>
                    {{#cabinas}}
                        <option value="{{id_cabina}}" >{{tipo}}</option>
                    {{/cabinas}}
                </select>
                </td>

                </tbody>
            </table>

           <div class="butacas">
               <table class="table caption-top">
                    <h5>SELECCIONE SU ASIENTO</h5>
                    <span class="badge bg-success ms-3 me-3">Disponible</span>
                    <span class="badge bg-danger">Ocupado</span>
                   <thead>

                   <tr>

                       <th scope="col">A</th>
                       {{#filaA}}

                         {{#asientoDisponible}}
                         <th scope="col"><input type="radio" id="{{idAsiento}}" name="asiento" class="me-2"  value="{{idAsiento}}"><i class="fas fa-circle text-success" style="font-size:30px"></i> {{asientos}}
                         <label for="{{idAsiento}}"></label>
                         </th>
                         {{/asientoDisponible}}
                         {{^asientoDisponible}}
                         <th scope="col"><input type="radio" id="{{idAsiento}}" name="asiento" class="me-2"  disabled><i class="fas fa-circle text-danger" style="font-size:30px"></i> {{asientos}}
                         <label for="{{idAsiento}}"></label>
                         </th>
                         {{/asientoDisponible}}

                       {{/filaA}}
                   </tr>
                   </thead>
                   <tbody>
                   <tr>
                       <th scope="row">B</th>
                       {{#filaB}}

                         {{#asientoDisponible}}
                         <th scope="col"><input type="radio" id="{{idAsiento}}" name="asiento" class="me-2"  value="{{idAsiento}}"><i class="fas fa-circle text-success" style="font-size:30px"></i> {{asientos}}
                             <label for="{{idAsiento}}"></label>
                         </th>
                         {{/asientoDisponible}}
                         {{^asientoDisponible}}
                          <th scope="col"><input type="radio" id="{{idAsiento}}" name="asiento" class="me-2"  disabled><i class="fas fa-circle text-danger" style="font-size:30px"></i> {{asientos}}
                             <label for="{{idAsiento}}"></label>
                         </th>
                         {{/asientoDisponible}}

                       {{/filaB}}

                   </tr>
                   <tr>
                       <th scope="row">C</th>
                        {{#filaC}}

                          {{#asientoDisponible}}
                         <th scope="col"><input type="radio" id="{{idAsiento}}" name="asiento" class="me-2"  value="{{idAsiento}}"><i class="fas fa-circle text-success" style="font-size:30px"></i> {{asientos}}
                             <label for="{{idAsiento}}"></label>
                         </th>
                         {{/asientoDisponible}}
                         {{^asientoDisponible}}
                          <th scope="col"><input type="radio" id="{{idAsiento}}" name="asiento" class="me-2"  disabled><i class="fas fa-circle text-danger" style="font-size:30px"></i> {{asientos}}
                             <label for="{{idAsiento}}"></label>
                         </th>
                         {{/asientoDisponible}}

                        {{/filaC}}
                   </tr>
                   <tr>
                       <th scope="row">D</th>
                        {{#filaD}}

                           {{#asientoDisponible}}
                           <th scope="col"><input type="radio" id="{{idAsiento}}" name="asiento" class="me-2"  value="{{idAsiento}}"><i class="fas fa-circle text-success" style="font-size:30px"></i> {{asientos}}
                               <label for="{{idAsiento}}"></label>
                           </th>
                           {{/asientoDisponible}}
                            {{^asientoDisponible}}
                              <th scope="col"><input type="radio" id="{{idAsiento}}" name="asiento" class="me-2"  disabled><i class="fas fa-circle text-danger" style="font-size:30px"></i> {{asientos}}
                               <label for="{{idAsiento}}"></label>
                           </th>
                          {{/asientoDisponible}}

                        {{/filaD}}
                   </tr>
                   </tbody>
               </table>
           </div>

            <div class="row d-flex justify-content-evenly pb-3 pt-5">
              <div class="col-sm-6" >
                    <button type="submit" class="btn btn-primary w-100 " name="ingreso" role="button">Reservar</button>
                </div>
                <div class="col-sm-6" >
                    <a class="btn btn-danger w-100" tabindex="-1" role="button" href="/GauchoRocket/">Cancelar</a>
                </div>
            </div>

          </form>

    </div>
</div>

{{>footer}}