{{>header}}
{{>navbar}}

{{#usuarioConReserva}}

<section class="container-fluid w-100 d-flex justify-content-center align-items-center" style="padding-top: 75px; padding-bottom: 100px">
    <article class="d-flex justify-content-center d-flex flex-column">
        <h1 class='mt-5 text-center'>VIAJES</h1>
       
         <div class="d-flex justify-content-center d-flex flex-row mt-0 pt-3 botones">
                <div class="row justify-content-center align-items-center" >
                    <div class="col-auto bg-light p-5 mb-5 rounded-3 shadow-lg">

                        <table class="table text-center" style="width: 877px">
                            <thead>
                                <tr>
                                    <th scope="col">ORIGEN</th>
                                    <th scope="col">DESTINO</th>
                                    <th scope="col">TIPO DE VIAJE</th>
                                    <th scope="col">FECHA</th>
                                    <th scope="col">HORARIO</th>
                                    <th scope="col">PRECIO</th>
                                    <th scope="col">PAGAR</th>
                                </tr>
                            </thead>

                            <tbody>

                            {{#viajes}}
                                <form action="/GauchoRocket/pagoReservaViaje" method="post">
                                    <tr>
                                        <input type='hidden' value='{{id_vuelo}}' name="idVuelo">
                                        <input type='hidden' value='{{id_reserva}}' name="idReserva">
                                        <td class="text-left">{{origen}}</td>
                                        <td class="text-left">{{destino}}</td>
                                        <td>{{tipo}}</td>
                                        <td>{{fechaDeViaje}}</td>
                                        <td>{{horario}}</td>
                                        <td>${{precio}}</td>
                                        {{#reserva_pagado}}
                                            <td>
                                                <button type="submit" class="btn btn-primary">PAGAR</button>
                                            </td>
                                        {{/reserva_pagado}}
                                        {{^reserva_pagado}}
                                            <td>
                                                <button type="submit" class="btn btn-primary" disabled>PAGADO</button>
                                            </td>
                                        {{/reserva_pagado}}
                                        </td>
                                    </tr>
                                </form>
                            {{/viajes}}
                            </tbody>
                        </table>
                    </div>
                </div>
         </div>

        <br>

            <section class="container-fluid w-100 d-flex justify-content-center align-items-center">
                <article class="d-flex justify-content-center d-flex flex-column">
                    <h1 class='mt-5 text-center'>ALOJAMIENTOS</h1>
                        <div class="d-flex justify-content-center d-flex flex-row mt-0 pt-3 botones">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-auto bg-light p-5 mb-5 rounded-3 shadow-lg">

                                    <table class="table text-center" style="width: 877px;">
                                        <thead>
                                        <tr>
                                            <th scope="col">DESTINO</th>
                                            <th scope="col">CANTIDAD DE HABITACIONES</th>
                                            <th scope="col">PRECIO</th>
                                            <th scope="col">ALOJAMIENTO</th>
                                            <th scope="col">PAGAR</th>
                                        </tr>
                                        </thead>

                                        <tbody>

                                        {{#alojamientos}}
                                            <form action="/GauchoRocket/pagoReservaAlojamiento" method="post">
                                                <tr>
                                                    <input type='hidden' value='{{id_alojamiento}}' name="idAlojamiento">
                                                    <input type='hidden' value='{{id_reserva}}' name="idReserva">
                                                    <td >{{descripcion}}</td>
                                                    <td >{{cant_habitaciones}}</td>
                                                    <td >${{precio}}</td>
                                                    <td >{{nombreAlojamiento}}</td>
                                                    {{#pagado}}
                                                    <td>
                                                        <button type="submit" class="btn btn-primary">PAGAR</button>
                                                    </td>
                                                {{/pagado}}
                                                    {{^pagado}}
                                                        <td>
                                                            <button type="submit" class="btn btn-primary" disabled>PAGADO</button>
                                                        </td>
                                                    {{/pagado}}
                                                </tr>
                                            </form>
                                        {{/alojamientos}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    <div class="row justify-content-center" style="padding-bottom: 138px;">
                        <div class="col-sm-6" >
                            <a class="btn btn-danger w-100" tabindex="-1" role="button" href="/GauchoRocket/home">Volver</a>
                        </div>
                    </div>

                </article>
            </section>
    </article>
</section>
          
        {{/usuarioConReserva}}
        {{^usuarioConReserva}}

            <div class="pt-5"></div>
            <div class="pt-5"></div>

             <div class='alert  alert-warning text-center container mt-0' role='alert'>
                 <h4>
                     <i class="fas fa-exclamation-circle"></i>
                      No se ha encontrado reservas registradas
                 </h4>
                             
            </div>

        {{/usuarioConReserva}}

{{>footer}}
