{{>header}}


<section class="container-fluid w-100 d-flex justify-content-center align-items-center" style="padding-top: 75px; padding-bottom: 339px">
    <article class="d-flex justify-content-center d-flex flex-column">
        <h1 class='mt-5 text-center'>VIAJES</h1>
        {{#mensajeViaje}}
            <div class="alert alert-success text-center container mt-4" role="alert">
                <h4 class="d-flex justify-content-center">
                    <i class="far fa-frown me-3"></i>
                    <p class=" w3-center mt-2">{{mensajeViaje}}</p>
                </h4>
            </div>
        {{/mensajeViaje}}
        {{^mensajeViaje}}
            <div class="d-flex justify-content-center d-flex flex-row mt-0 pt-3 botones">
                <div class="row justify-content-center align-items-center" >
                    <div class="col-auto bg-light p-5 mb-5 rounded-3 shadow-lg">

                        <table class="table text-center" style="width: 877px">
                            <thead>
                            <tr>
                                <th scope="col">ORIGEN</th>
                                <th scope="col">DESTINO</th>
                                <th scope="col">TIPO DE VIAJE</th>
                                <th scope="col">FECHA</th>
                                <th scope="col">HORARIO</th>
                                <th scope="col">PRECIO</th>
                                <th scope="col">DISPONIBLE</th>
                            </tr>
                            </thead>

                            <tbody>

                            {{#viajeElegido}}
                                <!--                                <form action="/GauchoRocket/reserva/reservarAlojamiento" method="post">-->
                                <form action="#" method="post">
                                    <tr>
                                        <input type='hidden' value='{{id_vuelo}}' name="idVuelo">
                                        <td>{{origen}}</td>
                                        <td>{{destino}}</td>
                                        <td>{{tipo}}</td>
                                        <td>{{fechaDeViaje}}</td>
                                        <td>{{horario}}</td>
                                        <td>${{precio}}</td>
                                        {{#disponible}}
                                            <td> <button type="submit" class="btn btn-secondary">Reservar viaje</button></td>
                                        {{/disponible}}
                                        {{^disponible}}
                                            <td> <button type="submit" class="btn btn-secondary" disabled>Reservar viaje</button></td>
                                        {{/disponible}}
                                    </tr>
                                </form>
                            {{/viajeElegido}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {{/mensajeViaje}}
        <div class="row justify-content-center" style="padding-bottom: 138px;">
            <div class="col-sm-6" >
                <a class="btn btn-danger w-100" tabindex="-1" role="button" href="/GauchoRocket/home">Volver</a>
            </div>
        </div>
    </article>
</section>






<section class="container-fluid w-100 d-flex justify-content-center align-items-center" style="padding-top: 75px; padding-bottom: 339px">
    <article class="d-flex justify-content-center d-flex flex-column">
        <h1 class='mt-5 text-center'>ALOJAMIENTOS</h1>
        {{#mensaje}}
            <div class="alert alert-success text-center container mt-4" role="alert">
                <h4 class="d-flex justify-content-center">
                    <i class="far fa-frown me-3"></i>
                    <p class=" w3-center mt-2">{{mensaje}}</p>
                </h4>
            </div>
        {{/mensaje}}
        {{^mensaje}}
            <div class="d-flex justify-content-center d-flex flex-row mt-0 pt-3 botones">
                <div class="row justify-content-center align-items-center" >
                    <div class="col-auto bg-light p-5 mb-5 rounded-3 shadow-lg">

                        <table class="table text-center" style="width: 877px">
                            <thead>
                            <tr>
                                <th scope="col">DESTINO</th>
                                <th scope="col">CANTIDAD DE HABITACIONES</th>
                                <th scope="col">PRECIO</th>
                                <th scope="col">ALOJAMIENTO</th>
                                <th scope="col">DISPONIBLE</th>
                            </tr>
                            </thead>

                            <tbody>

                            {{#alojamientoElegido}}
                                <form action="/GauchoRocket/reserva/reservarAlojamiento" method="post">
                                    <!--                                <form action="#" method="post">-->
                                    <tr>
                                        <input type='hidden' value='{{id_alojamiento}}' name="idAlojamiento">
                                        <td >{{descripcion}}</td>
                                        <td >{{cant_habitaciones}}</td>
                                        <td >${{precio}}</td>
                                        <td >{{nombreAlojamiento}}</td>
                                        {{#disponible}}
                                            <td> <button type="submit" class="btn btn-secondary">Reservar alojamiento</button></td>
                                        {{/disponible}}
                                        {{^disponible}}
                                            <td> <button type="submit" class="btn btn-secondary" disabled>Reservar alojamiento</button></td>
                                        {{/disponible}}
                                    </tr>
                                </form>
                            {{/alojamientoElegido}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        {{/mensaje}}
        <div class="row justify-content-center" style="padding-bottom: 138px;">
            <div class="col-sm-6" >
                <a class="btn btn-danger w-100" tabindex="-1" role="button" href="/GauchoRocket/home">Volver</a>
            </div>
        </div>
    </article>
</section>


{{>footer}}
