{{>header}}


<div class="formularioReserva container">
    <form action="" method="post">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Servicio</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Leandro</th>
                <td>Martinez</td>

                <td><select class="form-select" aria-label="Default select example">
                    <option selected>Seleccione</option>
                    <option value="1">Standard</option>
                    <option value="2">Gourmet</option>
                    <option value="3">Spa</option>
                </select>
                </td>
            </tr>
            <!--    <tr>-->
            <!--        <th scope="row">2</th>-->
            <!--        <td>Jacob</td>-->
            <!--        <td>Thornton</td>-->
            <!--        <td>@fat</td>-->
            <!--    </tr>-->
            <!--    <tr>-->
            <!--        <th scope="row">3</th>-->
            <!--        <td>Larry</td>-->
            <!--        <td>the Bird</td>-->
            <!--        <td>@twitter</td>-->
            <!--    </tr>-->
            </tbody>
        </table>

        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Vuelo</th>
                <th scope="col">Cabina</th>
            </tr>
            </thead>
            <tbody>
            <td><select class="form-select" aria-label="Default select example">
                <option selected>Seleccione tipo de vuelo</option>
                <option value="1">Tipo 1</option>
                <option value="2">Tipo 2</option>
                <option value="3">Tipo 3</option>
            </select>
            </td>
            <td><select class="form-select" aria-label="Default select example">
                <option selected>Seleccione cabina</option>
                <option value="1">Cabina Familiar</option>
                <option value="2">Cabina General</option>
                <option value="3">Cabina Suite</option>
            </select>
            </td>

            </tbody>
        </table>

        <div class="botones d-flex justify-content-evenly pb-3">
            <button type="button" class="btn btn-primary btn-lg">Ir a calendario de vuelos</button>
            <button type="button" class="btn btn-secondary btn-lg">Cancelar</button>
        </div>


    </form>
</div>



<!--<table class="table">-->
<!--    <thead class="thead-dark">-->
<!--    <tr>-->
<!--        <th scope="col">Nombre</th>-->
<!--        <th scope="col">Apellido</th>-->
<!--        <th scope="col">Servicio</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr>-->
<!--        <th scope="row">Leandro</th>-->
<!--        <td>Martinez</td>-->

<!--        <td><select class="form-select" aria-label="Default select example">-->
<!--            <option selected>Seleccione</option>-->
<!--            <option value="1">Standard</option>-->
<!--            <option value="2">Gourmet</option>-->
<!--            <option value="3">Spa</option>-->
<!--        </select>-->
<!--        </td>-->
<!--    </tr>-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <th scope="row">2</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>Jacob</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>Thornton</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>@fat</td>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <th scope="row">3</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>Larry</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>the Bird</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>@twitter</td>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--    </tbody>-->
<!--</table>-->

<!--<table class="table">-->
<!--    <thead class="thead-light">-->
<!--    <tr>-->
<!--        <th scope="col">Vuelo</th>-->
<!--        <th scope="col">Cabina</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <td><select class="form-select" aria-label="Default select example">-->
<!--        <option selected>Seleccione tipo de vuelo</option>-->
<!--        <option value="1">Tipo 1</option>-->
<!--        <option value="2">Tipo 2</option>-->
<!--        <option value="3">Tipo 3</option>-->
<!--    </select>-->
<!--    </td>-->
<!--    <td><select class="form-select" aria-label="Default select example">-->
<!--        <option selected>Seleccione cabina</option>-->
<!--        <option value="1">Cabina Familiar</option>-->
<!--        <option value="2">Cabina General</option>-->
<!--        <option value="3">Cabina Suite</option>-->
<!--    </select>-->
<!--    </td>-->

<!--    </tbody>-->
<!--</table>-->


<!--<button> <h1>RESERVAAAAAAAA PAPU</h1></button>-->


{{>footer}}