{{> header}}
{{> navbarConSesion}}

<div class="mt-0 pb-5"></div>

<h1 class='mt-5 text-center'>{{centroMedico}}</h1>

<div class="d-flex justify-content-center d-flex flex-row mt-0 pt-3 botones">

 
    <div class="row justify-content-center align-items-center w-75" >
        <div class="col-auto bg-light p-5 mb-5 rounded-3 shadow-lg">
            
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">FECHA</th>
                    <th scope="col">HORARIO</th>
                    <th scope="col">DISPONIBLE</th>
                </tr>
                </thead>

                <tbody>
                {{#turnos}}

                 <form action="../turno/crearTurno" method="post">
               
                    <tr>
                        <input type='hidden' value='{{id_turno}}' name="idTurno">
                        <td>{{fecha}}</td>
                        <td>{{horario}}</td>
                        {{#disponible}}
                       <td> <button type="submit" class="btn btn-secondary">Solicitar Turno</button></td>
                        {{/disponible}}
                        {{^disponible}}
					    <td> <button type="submit" class="btn btn-secondary" disabled>Solicitar Turno</button></td>
					    {{/disponible}}
                        
                    </tr>
                </form>
                {{/turnos}}
                </tbody>
            </table>
        </div>
    </div>


</div>

{{> footer}}